.general-section{
    margin-bottom: 160px;
}
.general-list{
    align-items: center;
}
.general-item{
    margin-left: 40px;
}
.apply{
    margin-bottom: 24px;
    background-color: #F2F5F9;
    margin-left: 40px;
    margin-right: 165px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.apply-btn{
    margin-bottom: 0;
    margin-right: 65px;
}