.map-section{
    margin-bottom: 120px;
}
.map-section {
    margin-bottom: 120px;
}

.map-wrapp {
    width: 100%;
    max-width: 100%;
    height: 543px;
    background-image: url(../../img/map.png);
    background-repeat: no-repeat;

}

.map-wrapp {
    position: relative;
}

.republic {
    padding-top: 20px;
    background-position: center;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;

}

.NewYoark {
    top: 70px;
    bottom: 1px;
    left: 150px;
    right: 1px;
    width: 189px;
    background-image: url('../../img/republice.svg');
    position: absolute;
    background-repeat: no-repeat;
    height: 88px;

}

.london {
    top: 1px;
    bottom: 1px;
    left: 435px;
    right: 1px;
    width: 189px;
    background-image: url('../../img/republice.svg');
    position: absolute;
    background-repeat: no-repeat;
    height: 88px;

}

.Yokohama {
    top: 77px;
    bottom: 1px;
    left: 860px;
    right: 0px;
    width: 189px;
    background-image: url('../../img/republice.svg');
    position: absolute;
    background-repeat: no-repeat;
    height: 88px;

}

.Jakarta {
    top: 250px;
    bottom: 1px;
    left: 780px;
    right: 1px;
    width: 189px;
    background-image: url('../../img/republice.svg');
    position: absolute;
    background-repeat: no-repeat;
    height: 88px;

}